# Binaries, Objects en User Specific Files
Boekje.Data/bin/
Boekje.Data/obj/
Boekje.Data/out/

Boekje.Web/bin/
Boekje.Web/obj/
Boekje.Web/out/
Boekje.Web/.env

Boekje.Domain/bin/
Boekje.Domain/obj/
Boekje.Domain/out/

*.user
*.suo
*.userosscache
*.sln.docstates
# IDE
.idea/
.vscode/
.vs/
*.log
# Nuget
packages/
.nuget/
.env
.env.*
*.nupkg
*.snupkg
# ASPNetCore
appsettings.*.json
!appsettings.json
# OS
.DS_Store
Thumbs.db
#Docker
docker-compose.override.yml
*.tar
# Temp
*.tmp
*.temp
*.swp
# Build en Publish
publish/
dist/
# Misc
*.cache
*.bak
*.old
